.detail main{ 
    padding-top: 200px;
}

.detail article{
    width: 200px;
    height:200px;
}

.detail{
    background-color: var(--color-rosa-claro);
}

.detail h4{ 
    font-family: var(--font-titulos);
    margin: 30px 0;
    width: 200px;
}

.detail .description{
    font-family: var(--font-secundaria);
    margin: 20px 0;
    text-align: center;
    width: 200px;
}

.detail img{
    width: 200px;
}

.detail .button{ 
    position: relative;
    padding: 8px 0;
    color: black;
    border: none;
    border-radius: 5px;
    width: auto;
    display: inline-block;
    text-align: justify;
}

.detail .button button:hover{ 
    background-color: red;
    border-radius: 3px;
}

.detail .box-button button{
    padding: 8px 0;
    color: black;
    background-color: #ffda9e;
    border: none;
    border-radius: 5px;
    width: auto;
    display: inline-block;
    text-align: justify;
}

.detail .box-button button:hover{
    background-color: azure;
    border-radius: 3px;
}
.detail .precio{
    margin: 10px 0;
}

.detail .redes{
    text-align: center;
}

.detail .precio{
    text-align: center;
}

/*tablet*/
@media (min-width : 768px) {
    .register main{ 
        padding-top: none;
    }

    .detail h4{ 
        font-family: var(--font-titulos);
        margin: 30px 0;
        width: 400px;
        font-size: 40px;
        text-align: center;
        text-decoration: underline;
    }

    .detail img{
        width: 400px;
        text-align: center;
        margin: 10px 5px;
        border-radius: 30px;
    }

    .detail .redes{
        text-align: center;
        width: 400px;
        margin: 20px;
    }

    .detail .description{
        text-align: center;
        width: 400px;
        margin: 5px;
    }
    .detail .precio{
        text-align: center;
        margin: 30px;
        width: 350px;
    }

    .detail .box-button{
        display: flex;
        justify-content: space-around;
         margin: 30px 0px; 
         width: 350px;
    }

}


@media (min-width:1024px){ 
    .register main{
    padding-top:none;
    }
    .detail img{
        display: inline;
        vertical-align: 20px;
    }
  
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
    
}
.container{
	max-width: 90%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #ff9199;
    padding: 50px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: black;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	color: sienna;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .redes a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .redes a:hover{ 
	color: #24262b;
	background-color: white;
}


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
