
.main-products {
    width: 100%;
    min-height: 100%;
    text-align: center;
    display: grid;
    grid-template-areas: 
    'nav-head'
    'banner'
    'products-destac'
    'novedades';
}

.main-products h2{
    width: 100%;
    height: 90px;
    background-color: #e69fa4;
    font-family: var(--font-titulos);
    font-size: 3.5rem;
    padding-top: 10px;
    color: #fff; 
}


.nav-head{
    grid-area: nav-head;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 200px; 
    align-items: center;
    flex-direction: column;
    height: 400px;
    overflow: hidden;
    position: relative; 
}

  
/* imagen header */
.nav-head .nav-head-img{
    width: 100%;
    max-height: 400px;
}

.nav-head-img .back-img{
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.nav-head nav {
    display: grid;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
    margin: 0 auto;
    justify-content: center;
    
}

.nav-head nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 130px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-head ul li{
    border: 5px solid rgb(194, 119, 119);
    background-color:#e69fa4da;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    height: 80%;
    width: 110px;
    align-items: center;
    margin-left: 5px;
    transition: all 1s;
}

.nav-head ul li:hover{
    background-color: rgba(255, 248, 220, 0.89);
    transition: all .3s;
}

.nav-head ul li a{
    font-weight: bold;
    font-size: 1.9rem;
    font-family: var(--font-titulos);
    margin: 0 auto;
    color: #6A3625;
}

/* banner */
.banner{
    grid-area: banner;
    width: 100%;
    height: 220px;
    margin: 5px auto;
}

.banner .banner-img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 220px;
}

/* sección productos destacados */
.products-destac{
    grid-area: products-destac;
    background: url(https://chocolatesaguila.com/images/back-310.gif);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
    align-items: center;
} 

.products-destac article, .news .news-products article{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000 ;
    width: 282px;
    margin: 15px 0;
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
}

/* imágen de producto */
.products-destac .product-caja-img {
    width: 100%;
    height: 350px;
    border-bottom: 3px solid #000;
    margin: 0;
    padding: 0; 
}

.products-destac .product-caja-img img, .news .news-products img{
    object-fit: cover;
    width: 100%;
}

/* información de producto */
.products-destac .product-info {
    background-color: cornsilk;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    align-items: center;
    font-family: var(--font-secundaria);
    font-size: 1.2rem;
    color: #000;
    gap: 10px;
    padding: 5px;
    position: relative;
}

.products-destac .product-info h4{
  text-align: center;
  font-family: var(--font-titulos);
  font-size: 1.8rem;
  transition: all .5s;
}

.products-destac .product-info:hover h4{
    color: sienna;
    font-size: 2.2rem;
    transition: all .5s;
}

.products-destac .product-info a{
    color: sienna;
    font-family: var(--font-secundaria);
    font-weight: bold;
    font-size: 1.1rem;
    display: inline-block;
    background: wheat;
    border-radius: 5px;
    height: 40px;
    width: 140px;
    padding: 7px 0;
    margin: 0 auto;
    transition: all .5s;
}

.products-destac .product-info a:hover {
    background-color: sienna;
    color: wheat;
    transition: all .5s;
}

.products-destac .product-info span {
    font-family: var(--font-secundaria);
    font-size: 1rem;
    font-weight: bold;
    transition: all .5s;
    padding-left: 5px;
}

.products-destac .product-info:hover > span{
    font-size: 22px;
    color: sienna;
    font-weight: bold;
    transition: all .5s;
    padding: 0 auto;
}

/* boton de producto */

.products-destac .product-info button{
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: wheat;
    margin: 15px 10px;
    color: sienna;
    font-size: 1rem;
    font-family: var(--font-secundaria);
    font-weight: bold;
    padding-bottom: 5px;
    transition: all .5s;
    cursor: pointer;
}

.products-destac .product-info button:hover {
    background-color: sienna;
    color:wheat;
    transition: all .5s;
}

/* sección últimas novedades */
.news{
    grid-area: novedades;
    background-color: var(--color-rosa-claro);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* lista de novedades */
.news .news-list ul{ 
    min-width: 500px;
    height: 50px;
    margin: 10px auto 2px ;
    display: grid;
    grid-template-columns: repeat(3, 110px);
    justify-content: space-evenly;
    padding: 5px;
}

.news .news-list ul li {
    display: grid;
    width: 130px;
    gap: 10px;
    background-color: wheat;
    height: 40px;
    align-items: center;
    border-radius: 4px;
    transition: all .4s;   
}

.news .news-list ul li:hover {
    background: var(--color-amarillo);
}

.news .news-list ul li a{
    font-weight: bold;
    font-size: 1.3rem;
    font-family: var(--font-secundaria);
    margin: 0 auto;
    color: sienna;
}

/* novedades productos */
.news .news-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.news .news-products .news-info{
    background-color: cornsilk;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    font-family: var(--font-secundaria);
    font-size: 1rem;
    color: #000;
    border-top: 2px solid #000;
    gap: 5px;
}

.news .news-products .news-info h4{
    text-align: center;
  font-family: var(--font-titulos);
  font-size: 1.8rem;
  color: sienna;
  
}

.news-products .news-info span{
    color: sienna;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 5px;
}

/* imagen producto novedades */
.news .news-products .product-caja-img{
    height: 350px;
}

.news .news-products .product-caja-img .news-img{
    height: 350px;
    object-fit: cover;
    overflow: hidden;
}
/* fin del home */




/* inicio media queries */

@media (min-width: 768px) {
    
    .nav-head {
        margin-top: 0;
        height: 500px;
    }

    .nav-head .nav-head-img{
        
        max-height: 500px;
    }
    
    .nav-head-img .back-img{
        
        
        height: 500px;
    }

    .nav-head nav ul{
        width: 650px;
        padding: 0;
        
    }
    
    .nav-head ul li{
        justify-content: center;
        height: 85%;
        width: 120px;
        margin-left: 18px;
        
    }
    
    .nav-head ul li:hover{
        background-color: rgba(255, 248, 220, 0.918);
    }

    .banner{
        
        width: 100%;
        height: 220px;
        margin: 5px auto;
    }
    
    .banner .banner-img{
        display: block;
        object-fit: cover;
        width: 100%;
        height: 220px;
    }

    
}

@media (min-width: 1024px) {
    
    
}