header{
    background-color: wheat;
    width: 100%;
    position: fixed;
    height: 200px;
    left: 0;
    top: 0;
    z-index:10;
}
/*logo*/
header .logo {
    text-align: center;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    padding-top: 7px;
}
header .logo img{
    width: 140px;
    height: 140px;
}
/*contenedor*/
header .header-container{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin-top:10px;
    padding-bottom: 5px;
    position: relative;
}
header .menu-derecho{
    display:none;
}
/*menu-hamburguesa*/
header #menu{
    display: none;
}
header #menu:checked ~ .menu-desplegable {
    margin: 0;
}
header div label{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    background-color:wheat ;
    color: sienna;
    font-size: 33px;
    padding:0px;
    position: absolute;
    bottom: 40px;
}

.menu-desplegable {
    position: absolute;
    background:sienna;
    width: 100%;
    margin-left: -100%;
    transition: all 1s ;
    text-align: center;
}
header .menu-desplegable ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header .menu-desplegable ul li{
    border-top:1px solid #fff ;
    
}
header .menu-desplegable li a{
    display: block;
    padding: 10px 20px;
    color:white;
    font-family: var(--font-titulos);
    font-size: 22px;
    font-weight: bold;
}

header #sub-menu {
    display:none;
}
 /*carrito*/
header .carrito i{
    color:sienna;
    font-size: 31px; 
    font-weight: 600;
    position:absolute;
    right:12px;
    bottom: 50px;
}

/*barra de busqueda*/
header .barra-busqueda input{
    width: 100%;
    height: 35px;
    border-radius: 5%;
    border: 1px solid beige;
}
header .barra-busqueda{
    display: grid;
    grid-template-columns: 90% 10%;
}
header .boton i{
    background-color: white;
    width: 30px;
    height: 35px;
    text-align: center;
    color: black;
    font-size: 22px;
    padding-top: 8px;
}


@media (min-width:768px){
    header{
        z-index: 0;
    }
    header .menu-desplegable {
        position: absolute;
        background:sienna;
        width: 40%;
        margin-left: -100%;
        transition: all 1s ;
        text-align: center;
    }
    header .barra-busqueda{
        width: 70%;
        justify-self: center;
    }
    header div label{
        bottom:5px;
        width: 50px;
        height: 50px;
        font-size: 40px;
    }
    header .menu-desplegable{
        top: 40px;
    }
    header .carrito i{
        bottom: 5px;
        font-size: 40px;
    }
}


@media (min-width:1024px){
header .barra-busqueda{
    width: 70%;
    justify-self: flex-end;
}
header .menu-derecho{
    display: block;
}
header .menu-derecho nav ul{
    display: flex;
    justify-content: space-around;
}
header .menu-derecho nav ul li{
    margin-bottom: 0;
    border-right: 2px solid sienna;
}
header .menu-derecho nav ul li a{
    font-size: 22px;
    font-family: var(--font-titulos);
    font-weight: bold;
    color: sienna;
    padding-right: 10px;
}
header .carrito-desktop i{
    color:sienna;
    font-size: 31px; 
    font-weight: 600;
}
header .carrito {
    display: none;
}
header .header-container{
    display: grid;
    grid-template-columns: 10% 60% 30%;
}
header label:hover{
    cursor:pointer;
}
}

.register main{
    width: 350px;
    padding-top: 200px;
    margin: 0 auto;
}



.register h1{
    text-align: center;
    font-family: var(--font-titulos);
    margin: 30px;
}

.register{ 
    background-color: var(--color-rosa-claro);
}

.register .box-form{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.register h4{
    font-family: var(--font-secundaria);
    margin: 20px 0;
}

.register .box-form input, select{
    margin: 5px 0;
    height: 25px;
}

.register .box-form small{
    color:red;
    margin: 10px 0;
    display: inline-block;
}

.register .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register .options label{
    font-size: 14px;
}

.register .box-form textarea{
    resize: none;
}

.register .box-button{
    display: flex;
    justify-content: space-around;
    margin: 30px 0; 
}
.register .box-button button{
    padding: 8px 0;
    color: black;
    background-color: #ffda9e;
    border: none;
    border-radius: 5px;
    width: 120px;
}

.register .box-button button:hover{
    background-color: azure;
    border-radius: 3px;
}

/*tablet*/
@media (min-width : 768px) {
    .register main{ 
        padding-top: none;
    }
}


@media (min-width:1024px){ 
    .register main{
        padding-top:none;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
    
}
.container{
	max-width: 90%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #ff9199;
    padding: 50px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: black;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	color: sienna;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .redes a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .redes a:hover{
	color: #24262b;
	background-color: white;
}


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}