.register main{
    width: 350px;
    margin: 0 auto;
    padding-top: 150px;
}



.register h1{
    text-align: center;
    font-family: var(--font-titulos);
    margin: 2px;
}

.register{ 
    background-color: var(--color-rosa-claro);
}

.register .box-form{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.register h4{
    font-family: var(--font-secundaria);
    margin: 10px 0;
}

.register .box-form input, select{
    margin: 5px 0;
    height: 25px;
}

.register .box-form small{
    color:red;
    margin: 5px 0;
    display: inline-block;
}

.register .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register .options label{
    font-size: 14px;
}

.register .box-form textarea{
    resize: none;
}

.register .terminos{
    text-align: center;
    flex-direction: row;
}

.register .box-button{
    display: flex;
    justify-content: space-around;
    margin: 10px 0; 
}
.register .box-button button{
    padding: 8px 0;
    color: black;
    background-color: #ffda9e;
    border: none;
    border-radius: 5px;
    width: 120px;
}

.register .box-button button:hover{
    background-color: azure;
    border-radius: 3px;
}

/*tablet*/
@media (min-width : 768px) {
    .register main{
        width: 400px;
        margin: 0 auto;
        padding-top: 25px;
    }
}


@media (min-width:1024px){ 
    .register main{
        width: 400px;
        margin: 0 auto;
        padding-top: 20px;
    }
}
