<!DOCTYPE html>
<html lang="es">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  <footer class="footer">
  	 <div class="container2">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Dulce Deleite</h4>
  	 			<ul>
  	 				<li><a href="#">Nosotros</a></li>
  	 				<li><a href="#">¿Que ofrecemos?</a></li>
  	 				<li><a href="#"> Politica de Privacidad</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4> Mapa del sitio </h4>
  	 			<ul>
  	 				<li><a href="#"> Preguntas recientes</a></li>
  	 				<li><a href="#"> Envios </a></li>
  	 				<li><a href="#"> Contacto </a></li>
  	 				<li><a href="#"> Seguimiento de compra</a></li>
  	 				<li><a href="#"> Formas de pago </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4> Tienda</h4>
  	 			<ul>
  	 				<li><a href="#"> Pasteles </a></li>
  	 				<li><a href="#"> Recetas </a></li>
  	 				<li><a href="#"> texto </a></li>
  	 				<li><a href="#"> texto </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4> Nuestras redes</h4>
  	 			<div class="redes">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

</body>
</html>