<footer class="footer">
	<div class="container2">
		<div class="row">
			<div class="footer-col">
				<h4>Dulce Deleite</h4>
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/nosotros">Nosotros</a></li>
					<li><a href="/recetas">recetas</a></li>
					<li><a href="/contacto">Contacto</a></li>
					<li><a href="/users/login">Mi Cuenta</a></li>
					<li><a href="/users/register">Registrarme</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4> Categorías</h4>
				<div>
					<ul>
						<li><a href="/products/categoriesPos">Postres</a></li>
						<li><a href="/products/categoriesMuf">Muffins cupcakes</a></li>
						<li><a href="/products/categoriesTor">Tortas</a></li>
						<li><a href="/products/categoriesSal">Saludable</a></li>
					</ul>
				</div>

			</div>
			<div class="footer-col">
				<h4> Nuestras redes</h4>
				<div class="redes">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<br>
				<div class="tarjetas">
					<h4> Medios de Pagos</h4>
					<a href="#"><i class="fab fa-cc-visa"></i></a>
					<a href="#"><i class="fab fa-cc-amex"></i></a>
					<a href="#"><i class="fab fa-cc-mastercard"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="ubicacion">
		<a  href="https://www.google.com/maps/place/Lan%C3%BAs,+Provincia+de+Buenos+Aires/@-34.6986889,-58.4339906,13z/data=!3m1!4b1!4m5!3m4!1s0x95bccd2194f3cfb7:0x8c054a901d575260!8m2!3d-34.7015657!4d-58.4014484?hl=es-419" target="_blank"><i class="fas fa-map-marker-alt"> </i>
			Lanús, Provincia de Buenos Aires.
		</a>
	</div>
	<p class="copyright"> Copyright © 2021 Dulce Deleite
		* Pablo Lobai & Paulina Campos * <br>
		Todos los derechos reservados </p>
</footer>