<footer class="footer">
	<div class="container2">
		<div class="row">
			<div class="footer-col">
				<h4>Dulce Deleite</h4>
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/nosotros">Nosotros</a></li>
					<li><a href="/recetas">recetas</a></li>
					<li><a href="/users/login">Mi Cuenta</a></li>
					<li><a href="/users/register">Registrarme</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4> Categorías</h4>
				<ul>
					<li><a href="/products/categoriesPos">Postres</a></li>
					<li><a href="/products/categoriesMuf">Muffins cupcakes</a></li>
					<li><a href="/products/categoriesTor">Tortas</a></li>
					<li><a href="/products/categoriesSal">Saludable</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4> Nuestras redes</h4>
				<div class="redes">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>

