<header>
    <div class="logo"> 
        <% if (locals.userLogin) { %>
        <img src="/images/users/<%= userLogin.avatar %>" alt="">
    <% }else{ %>
        <a href="/"><img src="/images/logodd.jpg"></a>
    <% } %> </div>
    <section class="header-container">
        <div class="menu-hamburguesa">
            <input type="checkbox" id="menu">
            <label for="menu"><i class="fas fa-bars"></i></label>
            <nav class="menu-desplegable">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/products/cart">Tu Carrito de Compras</a></li>
                    <% if (locals.userLogin) { %>
                        <% if (userLogin.rol==='admin' ) { %>
                            <li><a href="/admin/productsList">Administrar</a></li>
                       <% } %>
                            <li><a href="/users/profile">Mi perfil</a></li>
                            <li><a href="/users/logout">Cerrar sesión</a></li>
                      <% }else{ %>
                                <li><a href="/users/login">Ingresa</a></li>
                                <li><a href="/users/register">Registrate</a></li>
                      <% } %>

                </ul>
            </nav>
        </div>
        <div class="barra-busqueda">
            <form><input type="text" class="nav-search-input" aria-label="Ingresá lo que quieras encontrar"
                    name="as_word" placeholder="Buscar productos, marcas y más…" maxlength="120" autofocus=""
                    autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" tabindex="2">
            </form>
            <a href="" class="boton"><i class="fas fa-search"></i></a>
        </div>
        <div class="carrito"><a href="/products/cart"><i class="far fa-shopping-cart"></i></a></div>
        <div class="menu-derecho">
            <nav>
                <ul>
                    <% if (locals.userLogin) { %>
                        <li><a href="/users/profile">Mi perfil</a></li>
                        <li><a href="/users/logout">Cerrar sesión</a></li>
                  <% }else{ %>
                    <li><a href="/users/login">Mi Cuenta</a></li>
                    <li><a href="/users/register">Registrarme</a></li>
                  <% } %>
                     <a href="/products/cart" class="carrito-desktop"><i class="far fa-shopping-cart"></i></a>
                </ul>
            </nav>
        </div>
    </section>
</header>