<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main class="detail">
                <section>
                    <h4>Dulce Deleite Choc, de almendra con nuez</h4>
                    <div class="detalle">

                        <div>
                            <img src="/images/nuez.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="redes">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-telegram"></i>
                                <i class="fab fa-twitter"></i>
                            </div>

                            <div class="precio">
                                <span>$450</span> <del>$600</del>
                            </div>

                            <div class="button-cantidad">
                                <button type="button" class="menos">-</button>
                                <input type="number" name="cantidad" id="cantidad">
                                <button type="button" class="mas">+</button>
                            </div>

                            <div class="box-button">
                                <button type="submit">COMPRAR AHORA</button>
                                <button type="reset">AGREGAR<i class="fas fa-shopping-cart"></i></button>
                            </div>
                            <p class="description">
                                ¡Nos moríamos de ganas de presentarte nuestro Dulce Deleite Choc!
                                Dicen que un primer bocado delicioso comienza por la vista. Especial para tus desayunos
                                o
                                meriendas.
                                ¿Qué estás esperando para probarlo?
                                Con un chocolate amargo que protege tu memoria, reduce el colesterol y mejora la
                                circulación.
                                Derretido en un suave bizcochuelo de vainilla.
                                Y aun asi ¿Te lo vas a perder?
                            </p>

                        </div>
                    </div>
                    <div>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>