<!DOCTYPE html>
<html lang="es">
  
<%- include('./partials/head') %> 

  <body>

    <%- include('./partials/header') %> 
    
    <main class="main-products">
      <div class="nav-head">
        <div class="nav-head-img">
          <img src="/images/productos/image-2.jpeg" class="back-img" alt="" />
        </div>
        <nav>
          <ul>
            <li>
              <a href=""> Postres</a>
            </li>

            <li>
              <a href=""> Muffins cupcakes</a>
            </li>

            <li>
              <a href=""> Tortas</a>
            </li>

            <li>
              <a href=""> Saludable</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="banner">
        <img src="/images/banner.png" class="banner-img" alt="" />
      </div>

      <section class="products-destac">
        <h2>Productos destacados</h2>

        <article>
          <div class="product-caja-img">
            <img src="/images/productos/image-8.jpg" height="349px" alt="" />
          </div>
          <div class="product-info">
            <h4>Nombre</h4>
            <a href="/products/detail">Ver detalles</a>
            <span>$99.999</span>
           
          </div>
        </article>

        <article>
          <div class="product-caja-img">
            <img src="/images/productos/image-4.jpeg" height="349px" alt="" />
          </div>
          <div class="product-info">
            <h4>Nombre</h4>
            <a href="/products/detail">Ver detalles</a>
            <span>$99.999</span>
            
          </div>
        </article>

        <article>
          <div class="product-caja-img">
            <img src="/images/productos/image-3.jpeg" height="349px" alt="" />
          </div>
          <div class="product-info">
            <h4>Nombre</h4>
            <a href="/products/detail">Ver detalles</a>
            <span>$99.999</span>
            
          </div>
        </article>

        <article>
          <div class="product-caja-img">
            <img src="/images/productos/image-9.jpg" height="349px" alt="" />
          </div>
          <div class="product-info">
            <h4>Nombre</h4>
            <a href="/products/detail">Ver detalles</a>
            <span>$99.999</span>
            
          </div>
        </article>
      </section>

      <section class="news">
        <h2>Últimas novedades</h2>

        <div class="news-list">
          <ul>
            <li><a href="#">Nuevo</a></li>
            <li><a href="#">Salud</a></li>
            <li><a href="#">Recetas</a></li>
          </ul>
        </div>

        <div class="news-products">
          <article>
            <div class="product-caja-img">
              <img src="/images/productos/pasteles.jpg" class="news-img" alt="" />
            </div>
            <div class="news-info">
              <h4>Nombre</h4>
              <span>Ver más</span>
            </div>
          </article>

          <article>
            <div class="product-caja-img">
              <img
                src="/images/productos/pastel-chocolate-portada.png"
                class="news-img"
                alt=""
              />
            </div>
            <div class="news-info">
              <h4>Nombre</h4>
              <span>Ver más</span>
            </div>
          </article>

          <article>
            <div class="product-caja-img">
              <img src="/images/productos/image-6.jpeg" class="news-img" alt="" />
            </div>
            <div class="news-info">
              <h4>Nombre</h4>
              <span>Ver más</span>
            </div>
          </article>

          <article>
            <div class="product-caja-img">
              <img src="/images/productos/image-5.jpeg" class="news-img" alt="" />
            </div>
            <div class="news-info">
              <h4>Nombre</h4>
              <span>Ver más</span>
            </div>
          </article>
        </div>
      </section>
    </main>

    <%- include('./partials/footer') %> 

  </body>
</html>
