<!DOCTYPE html>
<html lang="es">
  
    <%- include('./partials/head') %> 
  <body>
    
    
    <%- include('./partials/header') %>
<div class="caja-login">
  <h1>Login</h1>
  <div class="user-pass">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="Email">
  </div>

  <div class="user-pass">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="Contraseña">
  </div>
  
  <a class="link" href="#">¿Olvidaste tu contraseña?</a></p>
  <input type="button" class="btn" value="Sign in">

</div>
<%- include('./partials/footer') %> 
  </body>
</html>