<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head',{title: "Nosotros" }) %>

    <body>
        <%- include('./partials/header') %>
            <main class="nosotros">
                <h1>Nosotros</h1>
                <img width="60%" src="/images/nosotros/pasteleria2.jpg">
                <div class="texto">
                   <p>Somos una empresa dedicada a la pastelería que día a día <br>
                    trata de acercarse a consumidores que desean encontrar un aliado, <br>
                    aunque hay gente mas golosa que otra, <br>
                    a nadie le amarga un dulce de vez en cuándo. <br>
                    Pasteles, postres, tartas, cupcakes, etc. <br>
                    Las posibilidades de la pastelería son casi infinitas <br>
                    y, en nuestra web, ofrecemos una gran variedad de ellas, <br>
                    así que, sin más, adelante! compruébelo y
                    que tenga un...
                </p> 
                </div>
                <h4>¡DULCE DELEITE!</h4>
                <img width="60%" src="/images/nosotros/pasteleria.jpg">
                <div class="texto">
                <p>Queremos que los vistantes de cualquier edad que visitan nuestro sitio web <br>
                    se sientan cómodos y encuentren lo que buscan, ponernos en su lugar <br>
                    es la base de nuestro objetivo. <br>
                    Cuál es ese objetivo? Que el usuario encuentre un sitio ágil, intuitivo, <br>
                    útil, práctico, sin dejar de lado la calidad visual, en síntesis, <br>
                    buscamos que el usuario tenga una experiencia agradable para todos los sentidos.</p>
                </div>
                    <img width="34%" src="/images/nosotros/pasteleria3.jpg">
                <img width="30%" src="/images/nosotros/pasteleria1.jpg">
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>