<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head',{title: "Recetas" }) %>

    <body class="recetas">
        <%- include('./partials/header') %>
            <main>
                <h1>Recetas</h1>
                <img src="/images/recetas.jpg" alt="">

                <h2>Cheesecake clásica con topping de fresas</h2>
                <section class="foto-ingredientes">
                    <div>
                        <img src="/images/productos/cheesecake.jpg" height="200px">
                    </div>
                    <div class="ingredientes">
                        <h4>Ingredientes</h4>
                        <ul>
                            <li>Manteca 100 g</li>
                            <li> Azucar 200 g</li>
                            <li> Crema 200 cm3</li>
                            <li> Huevos 2 Unidades</li>
                            <li> Extracto de vainilla</li>
                            <li> Fécula de maíz 40 g</li>
                            <li> Galletitas dulces neutras 160 g</li>
                            <li> Membrillos en almíbar</li>
                            <li> 2 tsp de vainilla</li>
                            <li> Queso mascarpone 750 g</li>
                        </ul>
                        <h5>Para la cobertura</h5>
                        <ul>
                            <li> 800 g de fresas frescas, limpias y sin hojas</li>
                            <li> Opcional: crema batida o crema Chantilly para decorar</li>
                        </ul>
                    </div>
                    </section>
                    <div class="ingredientes">
                        <h4>Paso a Paso</h4>
                        <ul>
                            <li>Para comenzar, procesamos las galletitas. Luego, agregamos la manteca fundida y el
                                azúcar.
                                Mezclamos bien hasta que quede bien unido.</li>
                            <li>Colocamos la preparación en la base del molde de manera pareja y llevamos al frío.</li>
                            <li>En un bowl, colocamos el queso a temperatura ambiente junto con el azúcar y mezclamos
                                para
                                que se incorporen bien.</li>
                            <li>Agregamos los huevos y revolvemos.</li>
                            <li>Disolvemos el almidón de maíz junto con el jugo de limón y la esencia de vainilla.
                                Volcamos
                                sobre el queso. Agregamos por último la crema.</li>
                            <li>Mezclamos bien y pasamos la preparación al molde. Llevamos a un horno medio durante 1
                                hora
                                aproximadamente.</li>
                            <li>Dejamos que se enfríe en el horno apagado y llevamos a la heladera.</li>
                            <li>Decoramos con menta y membrillos en almíbar.</li>
                        </ul>
                    </div>
                
<span>*************************************************************************************</span>
                <h2>Marquise</h2>
                <section class="foto-ingredientes">
                    <div>
                        <img src="/images/productos/marquise-sin-tacc.jpg" height="200px">
                    </div>
                    <div class="ingredientes">
                        <h4>Ingredientes</h4>
                        <ul>
                            <li> Aceite de girasol 50 c.c.</li>
                            <li>Azúcar 100 Gramos</li>
                            <li>Chocolate cobertura semiamargo 200 Gramos</li>
                            <li>Claras 5 Unidades</li>
                            <li>Yemas 5 Unidades</li>
                            <li>Esencia de vainilla 1 cda</li>
                            <li>Mantequilla 100 Gramos</li>
                            <li>Sal 1 Pizca</li>
                        </ul>
                        <h4>Decoración</h4>
                        <ul>
                            <li>Dulce de leche c/n</li>
                            <li>Chantilly de chocolate con leche c/n</li>
                            <li>Chantilly de chocolate blanco c/n</li>
                            <li>Frutas rojas c/n</li>
                        </ul>
                    </div>
                </section>
                    <div class="ingredientes">
                        <h4>Paso a Paso</h4>
                        <ul>
                            <li>Fundir el chocolate junto con la mantequilla a baño de María.</li>
                            <li>Retirar del calor y unir el aceite, las yemas, sal y vainilla.</li>
                            <li> Batir las claras con el azúcar a punto no muy firme.</li>
                            <li> Integrar con movimientos rápidos un tercio de las claras merengadas y la otra parte
                                añadirlas suavemente con movimientos envolventes.</li>
                            <li>Poner en moldes con aro de papel manteca untado ligeramente con mantequilla.</li>
                            <li>Hornear a 160° C hasta cocción total.</li>
                        </ul>
                        <h4>Decoración</h4>
                        <span>Enfriar bien y decorar con manga y pico rizado toda la superficie alternando dulce de
                            leche,
                            chantilly de chocolate y chantilly de chocolate blanco</span>
                    </div>
                
                <span>***********************************************************************************</span>
                <h2>Chocotorta</h2>
                <section class="foto-ingredientes">
                    <div>
                        <img src="/images/productos/chocotorta.jpg" height="200px">
                    </div>
                    <div class="ingredientes">
                        <h4>Ingredientes</h4>
                        <ul>
                            <li> Café bien fuerte 400 Ml.</li>
                            <li>Dulce de leche 400 g</li>
                            <li>Galletitas de chocolate 800 g</li>
                            <li>Mascarpone 400 g</li>
                            <li>Cacao en Polvo 100 g</li>
                            <li>Queso crema 400 g</li>
                        </ul>
                    </div>
                </section>
                    <div class="ingredientes">
                        <h4>Paso a Paso</h4>
                        <ul>
                            <li>Para comenzar, hacemos una mezcla con los quesos y el dulce de leche.</li>
                            <li>Luego, en un molde de vidrio que se pueda presentar en la mesa ponemos una capa de
                                galletas
                                mojadas en el café.</li>
                            <li>Vamos haciendo la torta intercalando una capa de la mezcla con otra de galletitas hasta
                                utilizar toda la mezcla y las galletitas.</li>
                            <li> Terminamos con una capa de crema y espolvoreamos con el cacao en polvo.</li>
                            <li>Dejamos enfriar en la heladera hasta que adquiera un poco de consistencia.</li>
                            <li>Emplatamos y servimos.</li>
                        </ul>
                    </div>
                
                <span>***************************************************************************************</span>
                <h2>Pavlova</h2>
                <section class="foto-ingredientes">
                    <div>
                        <img src="/images/productos/pavlova.jpg" height="200px">
                    </div>
                    <div class="ingredientes">
                        <h4>Ingredientes</h4>
                        <ul>
                            <li> Clara de huevo 120 Gramos</li>
                            <li>Azúcar 210 grs</li>
                            <li>Maicena 4 Gramos</li>
                            <li>Sal 1 Pizca</li>
                            <li>Vinagre 3 miliitros</li>
                            <li>Chocolate blanco 35% 200 Gramos</li>
                            <li> Puré de maracuyá 250 Gramoss</li>
                            <li>Azúcar 80 grss</li>
                            <li>Huevos 5 Unidadess</li>
                            <li>Frutos rojos c/ns</li>
                            <li>Hierba buena c/ns</li>
                            <li>Azúcar glas 20 Gramoss</li>
                            <li>Nata 200 miliitross</li>
                        </ul>
                    </div>
                </section>
                    <div class="ingredientes">
                        <h4>Paso a Paso</h4>
                        <ul>
                            <li>Montar las claras y agregar poco a poco el azúcar.</li>
                            <li>Una vez montadas añadir la maicena, la sal y el vinagre.</li>
                            <li>Escudillar sobre moldes de silicona con forma de semi-esfera y hornear unas 2 horas a 90
                                ºC
                                hasta que esté seco y brillante.</li>
                            <li> Mezclar el puré de maracuyá, el azúcar y los huevos.</li>
                            <li>Cocer lentamente a fuego suave, hasta la crema comience a espesar, paramos la cocción a
                                la
                                primera ebullición.</li>
                            <li>Verter progresivamente sobre la cobertura de chocolate blanco y mezclar con unas
                                varillas
                                hasta obtener una mezcla brillante.</li>
                            <li>Reservar en nevera hasta su completo enfriamiento.</li>
                            <li>Montar la nata con el azúcar glas.</li>
                            <li> Rellenar la pavlova con la mezcla de maracuyá y decorar con la nata y los frutos rojos.
                            </li>
                        </ul>
                    </div>
                
                <span>***************************************************************************</span>
                <h2>Muffins Marmolados Sin Azucar</h2>
                <section class="foto-ingredientes">
                    <div>
                        <img src="/images/productos/muffin-marmolado.jpg" height="200px">
                    </div>
                    <div class="ingredientes">
                        <h4>Ingredientes</h4>
                        <ul>
                            <li>1 taza harina leudante</li>
                            <li>2 huevos</li>
                            <li>4 cdas edulcorante</li>
                            <li>1/2 taza leche</li>
                            <li>1/2 taza aceite vegetal</li>
                            <li>2 cdas cacao amargo</li>
                            <li>1 pizca sal</li>
                            <li>1 cda esencia de vainilla</li>
                        </ul>
                    </div>
                </section>
                    <div class="ingredientes">
                        <h4>Paso a Paso</h4>
                        <ul>
                            <li>En un bowl añadir los huevos, la leche, la esencia de vainilla, el edulcorante, el
                                aceite.
                                Revolver, luego añadir de a poco la harina y la pizca de sal.</li>
                            <li>Separar 6 cdas de la preparación en otro bowl o taza e incorporar las cdas de cacao
                                amargo e
                                integrar. Precalentar el horno a 180° C.</li>
                            <li>En una muffinera, poner los pirotines e ir incorporando un poco de cada mezcla con
                                diferentes cucharas hasta llenar las 3/4 partes, dado que si es más se volcaría. Llevar
                                a
                                horno a 180 °C de 20' a 25' o hasta que pinchando con un palillo sale limpio.</li>
                            <li>Dejar enfriar en una rejilla hasta el momento de comerlos.</li>
                        </ul>
                    </div>
               
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>