<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 
<body class="register">
    <%- include('./partials/header') %>
    <main>
        <h1>REGISTRATE CON TUS DATOS</h1>
        <form action="">
            <div class="box-form1">
                <h4>Nombres</h4>
                <input type="text" name="nombre" id="nombre" placeholder="Ingresá tu nombre">
                <small>Obligatorio.</small>
            </div>
            <div class="box-form1">
                <h4>Apellidos</h4>
                <input type="text" name="apellido" id="apellido" placeholder="Ingresá tu apellido">
                <small>Obligatorio</small>
            </div>
            <div class="box-form1">
                <h4>Email</h4>
                <input type="email" name="email" id="email" placeholder="Ingresá tu email">
                <small>Obligatorio.</small>
            </div>
            <div class="box-form1">
                <h4>Contraseña</h4>
                <input type="password" name="password" id="password" placeholder="contraseña">
                <small>Obligatorio.</small>
            </div>
            <div class="box-form1">
                <h4>Fecha de nacimiento</h4>
                <input type="date" name="Fecha de nacimiento">
            </div>
            <div class="box-form1">
                <h4>País de nacimiento</h4>
                <select name="pais" id="pais">
                    <option value="" selected hidden>Seleccione su país</option>
                    <option value="ar">Argentina</option>
                    <option value="bol">Bolivia</option>
                    <option value="cl">Chile</option>
                    <option value="br">Brasil</option>
                    <option value="uy">Uruguay</option>
                    <option value="py">Paraguay</option>
                    <option value="pe">Perú</option>
                    <option value="co">Colombia</option>
                    <option value="ven">Venezuela</option>
                    <option value="ecu">Ecuador</option>
                </select>
                <small>Obligatorio.</small>
            </div>
            <div class="box-form1">
                <h4>Género</h4>
                <div class="options">
                    <input type="radio" id="masculino" name="genero" value="m">
                    <label for="masculino">Masculino</label>
                    <input type="radio" id="femenino" name="genero" value="f">
                    <label for="femenino">Femenino</label>
                    <input type="radio" id="none" name="genero" value="nc" checked>
                    <label for="none">Prefiero no decirlo</label>
                </div>

                <div class="terminos">
                     <input type="checkbox" id="terminos" name="terminos">
                    <label for="terminos">Acepto los términos y condiciones</label>
                </div>
                
            <div class="box-button">
                <button type="submit">Registrarme</button>
                <button type="reset">Cancelar</button>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %>   
</body>
</html>