<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito de compras</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="logo"><img src="/images/logodd.jpg" alt="" width=""></div>
        <section class="header-container">
            <div class="menu-hamburguesa">
                <input type="checkbox" id="menu">
                <label for="menu"><i class="fas fa-bars"></i></label>
                <nav class="menu-desplegable">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/detail">Detalle de Producto</a></li>
                        <li><a href="/cart">Tu Carrito de Compras</a></li>
                        <li><a href="/login">Ingresa</a></li>
                        <li><a href="/register">Registrate</a></li>
                    </ul>
                </nav>
            </div>
            <div class="barra-busqueda">
                <form><input type="text" class="nav-search-input" aria-label="Ingresá lo que quieras encontrar"
                        name="as_word" placeholder="Buscar productos, marcas y más…" maxlength="120" autofocus=""
                        autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" tabindex="2">
                </form>
                <a href="" class="boton"><i class="fas fa-search"></i></a>
            </div>
            <div class="carrito"><a href="/cart"><i class="far fa-shopping-cart"></i></a></div>
            <div class="menu-derecho">
                <nav>
                    <ul>
                        <li><a href="/login">Mi Cuenta</a></li>
                        <li><a href="/register">Registrarme</a></li>
                        <a href="/cart" class="carrito-desktop"><i class="far fa-shopping-cart"></i></a>
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    

    <main class="cart">
        <div>
            <h1>Mi Carrito de Compras</h1>
            <a href="" class="carrito"><i class="far fa-shopping-cart"></i></a>
        </div>

        <section class="mobile">
            <div>
                <ul class="categorias">
                    <li><a href="">Producto</a></li>
                    <li><a href="">Precio</a></li>
                    <li><a href="">Cantidad</a></li>
                    <li><a href="">SubTotal</a></li>
                </ul>
            </div>
            <article class="articulo">
                <div class="image">
                    <i class="fas fa-trash-alt"></i>
                    <img src="/images/image-1.jpeg" alt="" width="">
                    <h4>nombre producto</h4>
                </div>
                <div class="precio">
                    <p>$1111</p>
                </div>
                <div class="button-cantidad">
                    <button type="button" class="menos">-</button>
                    <input type="number" name="cantidad" id="cantidad">
                    <button type="button" class="mas">+</button>
                </div>
                <div class="precio">
                    <p>$1111</p>
                    
                </div>
            </article>
        </section>

        <section class="mobile">
            <div>
                <ul class="categorias1">
                    <li><a href="">Producto</a></li>
                    <li><a href="">Precio</a></li>
                    <li><a href="">Cantidad</a></li>
                    <li><a href="">SubTotal</a></li>
                </ul>
            </div>
            <article class="articulo">
                <div class="image">
                    <i class="fas fa-trash-alt"></i>
                    <img src="/images/dulce-deleite10.jpg" alt="" width="">
                    <h4>nombre producto</h4>
                </div>
                <div class="precio">
                    <p>$1111</p>
                </div>
                <div class="button-cantidad">
                    <button type="button" class="menos">-</button>
                    <input type="number" name="cantidad" id="cantidad">
                    <button type="button" class="mas">+</button>
                </div>
                <div class="precio">
                    <p>$1111</p>
                </div>
            </article>
        </section>

        <section class="total">
            <span class="titulo-total">total:</span>
            <span class="precio">$11111</span>
        </section>

        <section class="button-continuar">
            <button type="button">Seguir Comprando</button>
            <button type="reset">Limpiar Carrito</button>
            <div class="confirmar"><button type="submit">Confirmar</button></div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Dulce Deleite</h4>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">¿Que ofrecemos?</a></li>
                        <li><a href="#"> Politica de Privacidad</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4> Mapa del sitio </h4>
                    <ul>
                        <li><a href="#"> Preguntas recientes</a></li>
                        <li><a href="#"> Envios </a></li>
                        <li><a href="#"> Contacto </a></li>
                        <li><a href="#"> Seguimiento de compra</a></li>
                        <li><a href="#"> Formas de pago </a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4> Tienda</h4>
                    <ul>
                        <li><a href="#"> Pasteles </a></li>
                        <li><a href="#"> Recetas </a></li>
                        <li><a href="#"> texto </a></li>
                        <li><a href="#"> texto </a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4> Nuestras redes</h4>
                    <div class="redes">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
</body>

</html>