<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <script src="https://kit.fontawesome.com/d41001deaf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo"><img src="/images/logodd.jpg" alt="" width=""></div>
        <section class="header-container">
            <div class="menu-hamburguesa">
                <input type="checkbox" id="menu">
                <label for="menu"><i class="fas fa-bars"></i></label>
                <nav class="menu-desplegable">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/detail">Detalle de Producto</a></li>
                        <li><a href="/cart">Tu Carrito de Compras</a></li>
                        <li><a href="/login">Ingresa</a></li>
                        <li><a href="/register">Registrate</a></li>
                    </ul>
                </nav>
            </div>
            <div class="barra-busqueda">
                <form><input type="text" class="nav-search-input" aria-label="Ingresá lo que quieras encontrar"
                        name="as_word" placeholder="Buscar productos, marcas y más…" maxlength="120" autofocus=""
                        autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" tabindex="2">
                </form>
                <a href="" class="boton"><i class="fas fa-search"></i></a>
            </div>
            <div class="carrito"><a href="/cart"><i class="far fa-shopping-cart"></i></a></div>
            <div class="menu-derecho">
                <nav>
                    <ul>
                        <li><a href="/login">Mi Cuenta</a></li>
                        <li><a href="/register">Registrarme</a></li>
                        <a href="/cart" class="carrito-desktop"><i class="far fa-shopping-cart"></i></a>
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    <main class="detail">
        <section>
            <article>
                <h4>Dulce Deleite Choc, de almendra con nuez</h4>

                <div>
                  <img src="/images/nuez.jpg" alt="">  
                </div>
                
                <div class="button">
                    <button type="submit">PROMO</button>
                    <button type="submit">RINDE 6 PORCIONES</button>
                </div>
                
                <div class="redes">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-telegram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
                <div>
                <p class="description">
                    ¡Nos moríamos de ganas de presentarte nuestro Dulce Deleite Choc!
                    Dicen que un primer bocado delicioso comienza por la vista. Especial para tus desayunos o meriendas. 
                    ¿Qué estás esperando para probarlo?
                </p>
                <div class="precio">
                <span>$450</span> <del>$600</del>
            </div>
            <div class="box-button">
                <button type="submit">COMPRAR AHORA</button>
                <button type="reset">AGREGAR<i class="fas fa-shopping-cart"></i></button>
            </div>
            </article>

        </section>
    </main>
    

    