<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <script src="https://kit.fontawesome.com/d41001deaf.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <section>
            <article>
                <img src="/images/nuez.jpg" alt="">
                <h4>Dulce Deleite Choc, de almendra con nuez</h4>
                <div>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-telegram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
                <div>
                <p class="description">
                    ¡Nos moríamos de ganas de presentarte nuestro Dulce Deleite Choc!
                    Dicen que un primer bocado delicioso comienza por la vista. Especial para tus desayunos o meriendas. 
                    ¿Qué estás esperando para probarlo?
                </p>
                <span>$450</span><del>$600</del>
            </div>
            <div class="box-button">
                <button type="submit">COMPRAR AHORA</button>
                <button type="reset">AGREGAR</button><i class="fas fa-shopping-cart"></i>
            </div>
            </article>

        </section>
    </main>
</body>
</html>