<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dulce Deleite</title>
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body>
    
    <header class="row">
        <section class="header-container">
            <div class="menu-hamburguesa">
                <input type="checkbox" id="menu">
                <label for="menu"><i class="fas fa-bars"></i></label>
                <nav class="menu-desplegable">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Categorias</a>
                            <ul>
                                <li><a href="#">postres</a></li>
                                <li><a href="#">tortas y tartas</a></li>
                                <li><a href="#">cookies y barras</a></li>
                                <li><a href="#">budines y muffins</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Recetas</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                    <ul class="header-cuenta">
                        <li><a href="">Mi Cuenta</a></li>
                        <li><a href="">Registrarme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="carrito"><i class="far fa-shopping-cart"></i></div>
        </section>
    </header>
    

    <main  class="home-container">

        <section class="prdts-cats">

            

            <div class="prdts-cont">

                <ul class="prdts-list">
                    
                    <li class="prdts-list-item">
                        <a href="">
                            Postres
                        </a>
                    </li>
                    
                    <li class="prdts-list-item">
                        <a href="">
                        Mufins
                        </a>
                    </li>
                   
                    <li class="prdts-list-item">
                        <a href="">
                            tortas
                        </a>
                    </li>
                    
                    <li class="prdts-list-item">
                        <a href="">
                            Cupcakes
                        </a>
                    </li> 
        
            </ul>
           
           

        </section>

         <div class="banner"><img src="/images/banner.png" alt="" class="banner-img"></div> 
           
        <section class="prdts-destac">

            <h2>Productos destacados</h2>

           <div class="destac-container">

            <article>

               <div class="destac-img"><img src="/images/image-3.jpeg" height="390px" alt="" class="imagen"></div>
               <div class="destac-info">
               <h4>Nombre</h4>
               <p>Lorem ipsum dolor sit amet consectetur.</p>
               <span>Precio $99.999</span>
               <button>Comprar</button>
               </div>
                
            </article>

            <article>

                <div class="destac-img"><img src="/images/image-4.jpeg" height="390px" alt="" class="imagen"></div>
                <div class="destac-info">
                <h4>Nombre</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <span>Precio $99.999</span>
                <button>Comprar</button>
                </div>

            </article>

            <article>

                <div class="destac-img"><img src="/images/image-5.jpeg" width="100%" height="390px" alt="" class="imagen"></div>
                <div class="destac-info">
                <h4>Nombre</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <span>Precio $99.999</span>
                <button>Comprar</button>
                </div>

            </article>

            <article>

                <div class="destac-img"><img src="/images/image-6.jpeg" width="100%" height="390px" alt="" class="imagen"></div>
                <div class="destac-info">
                <h4>Nombre</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <span>Precio $99.999</span>
                <button>Comprar</button>
                </div>

            </article>

           </div>

        </section>

        <section class="novedades">

            <h2>Novedades</h2>
            
              <div class="nov-list-cont">

                  <ul class="list-cont-ul">

                      <li><a href="">Lanzamientos</a></li>
                      <li><a href="">Salud</a></li>
                      <li><a href="">Recetas</a></li>

                  </ul>

              </div>

                <div class="prdts-novedades">

                    <article>

                        <div class="destac-img"><img src="/images/pasteles.jpg" height="390px" alt="" class="imagen"></div>
                        <div class="destac-info">
                        <h4>Nombre</h4>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <button>Ver más</button>
                        </div>
                         
                     </article>

                     <article>

                        <div class="destac-img"><img src="/images/pastel-chocolate-portada.png" height="390px" alt="" class="imagen"></div>
                        <div class="destac-info">
                        <h4>Nombre</h4>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>                       
                        <button>Ver más</button>
                        </div>
                         
                     </article>
              
        </section>

    </main>
    
</body>
</html>