<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dulce Deleite</title>
    
</head>
<body class="home-container">
    <main>
        <div class="home-img-animation">
            <img src="/public/images/banner.png" alt="banner">
       </div>
        <section>
            <div class="container">
                <a class="more-button o_default_snippet_text" href="#">Categorias</a>
                <ul class="categ_navigator">
                
                    <li class="ajaxed">
                        <a href="/shop#lunch-to-share-71">
                            <img src="/website/image/product.public.category/71/image" alt="Lunch to share">
                            <span>Lunch to share</span>
                        </a>
                    </li>
                
                    <li class="ajaxed">
                        <a href="/shop#breakfasts-70">
                            <img src="/website/image/product.public.category/70/image" alt="Breakfasts">
                            <span>Breakfasts</span>
                        </a>
                    </li>
                
                    <li class="ajaxed">
                        <a href="/shop#sandwiches-8">
                            <img src="/website/image/product.public.category/8/image" alt="Sandwiches ">
                            <span>Sandwiches </span>
                        </a>
                    </li>
                
                    <li class="ajaxed">
                        <a href="/shop#salads-28">
                            <img src="" alt="">
                            <span>tortas </span>
                        </a>
                    </li>
                
                    <li class="ajaxed">
                        <a href="/shop#fruits-vegetables-72">
                            <img src="/website/image/product.public.category/72/image" alt="Fruits &amp; Vegetables">
                            <span>Fruits &amp; Vegetables</span>
                        </a>
                    </li>           
                
            </ul>
            </div>
        </section>

    </main>
    
</body>
</html>