<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/d41001deaf.js" crossorigin="anonymous"></script>
</head>

<body class="detail">
    <main>
        <section>
            <article>
                <h4>Dulce Deleite Choc, de almendra con nuez</h4>

                <div>
                    <img src="/images/nuez.jpg" alt="">
                </div>
                <div class="button">
                    <button type="submit">PROMO</button>
                    <button type="submit">RINDE 6 PORCIONES</button>

                </div>
                
                <div class="redes">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-telegram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
                <div>
                    <p class="description">
                        ¡Nos moríamos de ganas de presentarte nuestro Dulce Deleite Choc!
                        Dicen que un primer bocado delicioso comienza por la vista. Especial para tus desayunos o
                        meriendas.
                        ¿Qué estás esperando para probarlo?
                    </p>
                    <div class="precio">
                        <span>$450</span> <del>$600</del>
                    </div>
                </div>
                <section>
                    <div class="box-button">
                        <button type="submit">COMPRAR AHORA</button>
                        <button type="reset">AGREGAR<i class="fas fa-shopping-cart"></i></button>
                    </div>
                </section>
            </article>

        </section>
    </main>
</body>

</html>