.detail{ 
    padding-top: 150px;
    text-align: center;
    background-color: var(--color-rosa-claro);
}

.detail h4{ 
    font-family: var(--font-titulos);
    margin: 0px auto  ;
    width: 200px ;
    text-align: center;
}

.detail img{
    width: 300px;
    height: 200px;
    border: 5px;
    
}

.detail .description{
    font-family: var(--font-secundaria);
    margin: 20px 0;
    text-align: center;
    
}

.detail img{
    width: 200px;
}

.detail .button{ 
    position: relative;
    padding: 8px 0;
    color: black;
    border: none;
    border-radius: 5px;
    width: auto;
    display: inline-block;
    text-align: justify;
}

.detail .box-button button{
    padding: 8px 0;
    color: black;
    background-color: #ffda9e;
    border: none;
    border-radius: 5px;
    width: auto;
    display: inline-block;
    text-align: justify;
}

.detail .box-button button:hover{
    background-color: azure;
    border-radius: 3px;
}
.detail .precio{
    margin: 10px 0;
    text-align: center;
    font-size: 35px !important;
}

.detail .button-cantidad{
    margin-bottom: 20px;
}

.detail .redes{
    text-align: center;
}

.detail .description{
    text-align: center;
    margin: 30px;
}


/*tablet*/
@media (min-width : 768px) {
    .detail{ 
        padding-top: 10px;
        text-align: center;
        background-color: var(--color-rosa-claro);
    }
    .detail h4{ 
        font-family: var(--font-titulos);
        width: 400px;
        font-size: 50px;
        text-align: center;
        text-decoration: underline;
    }
    .detail img{
        display: inline;
        vertical-align: 20px;
        height: 400px;
        width: 400px;
        position: relative;
        top: 6em;
        border-radius: 5px;
        border: 20px;
    }
    .detalle{
        display:flex;
    }
    .content{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 60px;
    }

    .detail .description{
        text-align: center;
        margin: 10px auto;
        width: 280px;
        
    }

}


@media (min-width:1024px){ 
    
    .detail img{
        display: inline;
        vertical-align: 20px;
        height: 500px;
        width: 500px;
        position: relative;
        top: 2px;
        border-radius: 5px;
        margin: 20px;
    }
    .detail{ 
        text-align: center;
        background-color: var(--color-rosa-claro);
    }
    .detail h4{ 
        font-family: var(--font-titulos);
        width: 600px;
        font-size: 40px;
        text-align: center;
        text-decoration: underline;
    }
    .detail .description{
        text-align: center;
        margin: 10px auto;
        width: 380px;
  
}
}