
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Lora:ital@0;1&display=swap');


:root {
    --color-rosa: #fa8fb1;
    --color-rosa-claro: #ffe4ec;
    --color-amarillo: #fff8dc;
    --font-titulos: 'Dancing Script', cursive;
    --font-secundaria: 'Lora', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
 a {
        text-decoration: none;
    }
    
li {
        list-style: none;
    }
    
