.glider-contain2 {
  width: 260px;
  margin: 0 auto;
  position: relative;
}
.glider2 {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
}
.glider-track2 {
  transform: translateZ(0);
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}
.glider.draggable2 {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.glider.draggable2 .glider-slide2 img {
  user-select: none;
  pointer-events: none;
}
.glider.drag2 {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.glider-slide2 {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100vw;
  
}
.glider-slide2 img {
  max-width: 100vw;
}
.glider2::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}
.glider-prev2,.glider-next2 {
  user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -45px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: sienna;
  opacity: 1;
  line-height: 1;
  transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
              color .5s cubic-bezier(.17,.67,.83,.67);
}
.glider-prev2:hover,
.glider-next2:hover,
.glider-prev2:focus,
.glider-next2:focus {
  color: wheat;
}
.glider-next2 {
  right: -45px;
  left: auto;
}

.glider-next2.disabled,
.glider-prev2.disabled {
  opacity: .25;
  color: gray;
  cursor: default;
}
.glider-slide2 {
  min-width: 150px;
}
.glider-hide2 {
  opacity: 0;
}
.glider-dots2 {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.glider-dot2 {
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}
.glider-dot2:hover,
.glider-dot2:focus,
.glider-dot2.active {
  background: #a89cc8;
}


@media(max-width: 36em){
  .glider2::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider2::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(255,255,255,.25);
  }
}

@media (min-width: 600px) {



  .glider-track2 {
    gap: 5px;
    
  }
}


@media (min-width: 768px) {

  .glider-contain2 {
    width: 600px;
  }
}


@media (min-width: 1024px) {

  .glider-contain2 {
    width: 880px;
  }
}

@media (min-width: 1200px) {

  .glider-contain2 {
    width: 1150px;
  }
}
