.nosotros{
    background-image: url(../images/nosotros/fondo2.jpg);
    font-family: var(--font-secundaria);
    text-align: center;
    padding-top: 135px;
    padding-bottom: 50px;
}
.nosotros h1{
    font-family: var(--font-titulos);
    font-weight: bold;
    font-size: 3.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nosotros .texto{
    font-weight: bold;
    font-family: var(--font-titulos);
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.nosotros h4{
font-family: var(--font-secundaria);
padding-bottom: 15px;
font-weight: bold;
}
@media (min-width: 768px) {
    .nosotros{
        padding-top: 30px;
    }
    .nosotros .texto {
        font-size: 26px;
    }
}