
.box-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-secundaria);
    background: var(--color-amarillo);
    border: 2px solid sienna;
    width: 70%;
    height: 1100px;
    gap: 5px;
    margin: 20px auto;
    margin-top: 10px;
}

.admin h1{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    text-align: center;
    padding: 15px 100px;
    margin-top: 135px;
    color: sienna; 
}

.input-box-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90px;
    text-align: center;
    background: #F6EBCD;
    border-radius: 5px;
    padding: 5px;
}

.input-box-form label {
    padding-bottom: 5px;
    font-size: 15px;
}

.input-box-form input {
    border: none;
    border-radius: 5px;
    height: 30px;
}

.img-edit{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 120px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #F6EBCD;
    object-fit: cover;
    margin-top: 20px;
}

.img-edit img{
    object-fit: cover;
    border-radius: 5px;
}

.description-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 120px;
}

.description-box label {
    padding-bottom: 5px;
}

.description-box textarea {
    
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    resize: none;
}

.checkbox {
    margin: 0 auto;
    height: 35px;
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.checkbox input {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.checkbox label {
    padding-left: 2px;
}

.edit-guardar {
    margin: 0 auto;
    
}

.edit-guardar form button {
    width: 140px;
    height: 40px;
}

.box-form button {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: wheat;
    margin: 0 auto;
    color: sienna;
    font-size: 1rem;
    font-family: var(--font-secundaria);
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
}

.box-form button:hover {
    background-color: sienna;
    color:wheat;
    transition: all .5s;
}

.box-form .input-box-form .error, .description-box .error {
    font-family: var(--font-secundaria);
    font-size: 12px;
    color: red;
    padding-top: 12px;
}

input.is-valid {
    border: ridge 3px rgb(29, 255, 29);
    border-radius: 5px; 
}

input.is-invalid {
    border: ridge 3px rgb(241, 21, 21);
    border-radius: 5px; 
}

textarea.is-valid {
    border: ridge 3px rgb(29, 255, 29);
    border-radius: 5px; 
}

textarea.is-invalid {
    border: ridge 3px rgb(241, 21, 21);
    border-radius: 5px; 
}



@media (min-width: 768px) {
    .box-form{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 15% 15% 17% 20% 18%;
        width: 90%;
        height: 800px;
        padding-top: 10px;
    
    }

    .admin h1{
        margin: 0 auto;
        text-align: center;
    }

    .input-box-form {
        margin: 0 auto;
        height: 90px;
    }

    .description-box {
        grid-column: 1 / 3;
        margin-top: 100px;
    }

    .box-form button{
        margin: 10px 60px ;
        margin-top: 40px;
    }

    .description-box textarea {
        width: 70%;
        height: 100%;
    }

    .checkbox {
        margin: 0 auto;
        height: 40px;
        font-size: 1.2rem;
        margin-top: 40px;
    }

    

    .box-form .input-box-form .error, .description-box .error {
        font-size: 14px;
        padding-top: 5px;
    }
}