.recetas{
    background-color: var(--color-rosa);
    width: auto;
}
.recetas main{
    text-align: center;
    padding-top: 130px;
    width: fit-content;
    background-image: url(../images/nosotros/fondo2.jpg);
}
.recetas .ingredientes{
    padding-top: 20px;
    padding-bottom: 20px;
}
.recetas h1{
    font-family: var(--font-titulos);
    font-weight: bold;
    font-size: 3.5rem;
    padding: auto;
}
.recetas h2{
    font-family: var(--font-titulos);
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media (min-width: 768px) {
    .recetas main{
        padding-top: 30px;
        padding-left: 0;
    }
    .recetas{
        width: fit-content;
    }
    .recetas .foto-ingredientes{
        display: flex;
        justify-content: center;
    }
    .recetas .foto-ingredientes img{
        height: 300px;
    }
}