.box-form1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: sienna;
    font-family: var(--font-secundaria);
    background: var(--color-amarillo);
    border: 2px solid sienna;
    width: 70%;
    height: 800px;
    gap: 5px;
    margin: 20px auto;
    margin-top: 10px;
}

.register h1{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    text-align: center;
    padding: 15px 100px;
    margin-top: 135px;
    color: sienna; 
}

.input-box-form1 {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70px;
    text-align: center;
    background: #F6EBCD;
    border-radius: 5px;
    padding: 5px;
}

.input-box-form1 label {
    padding-bottom: 5px;
    font-size: 14px;
}

.input-box-form1 input {
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 75%;
    margin: 0 auto;
}



.box-form1 .checkbox {
    margin: 0 auto;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.box-form1 .checkbox input {
    width: 15px;
    height: 15px; 
}

.box-form1 .checkbox label {
    padding-left: 2px;
    font-size: 12px;
}

.guardar {
    margin: 0 auto; 
}

.box-form1 button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: wheat;
    margin: 0 auto;
    color: sienna;
    font-size: 1rem;
    font-family: var(--font-secundaria);
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
}

.box-form1 button:hover {
    background-color: sienna;
    color:wheat;
    transition: all .5s;
}

.box-form1 .input-box-form1 .errors {
    font-family: var(--font-secundaria);
    font-size: 10px;
    color: red;  
}

.checkbox .errors{
    font-family: var(--font-secundaria);
    font-size: 10px;
    padding-left: 10px;
    color: red;
}

@media (min-width: 768px) {
    .box-form1{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        width: 70%;
    }

    .register h1{
        margin: 0 auto;
        text-align: center;
    }

    .input-box-form1 {
        margin: 0 auto;
        height: 75px;
        width: 70%;
    }

    .input-box-form1 label {
       
        font-size: 16px;
    }

    .box-form1 button{
        margin: 10px 60px ;
    }

    .checkbox {
        margin: 0 auto;
        height: 40px;
        font-size: 1.2rem;
    }

    .box-form1 .checkbox label {
        padding-left: 5px;
        font-size: 14px;
    }

    .box-form1 .input-box-form1 .errors, .checkbox .errors{
        font-size: 14px;
    }

    .checkbox .errors{
        padding: 0; 
    }

}

@media (min-width: 1024px) {

    .checkbox .errors{
        padding: 0 80px; 
    }
}
