<!DOCTYPE html>
<html lang="es">

    <header class="admin-header">
        <div class="logo">
            <% if (locals.userLogin) { %>
            <img src="/images/users/<%= userLogin.avatar %>" alt="">
        <% }else{ %>
            <a href="/"><img src="/images/logodd.jpg"></a>
        <% } %> </div>
        <section class="header-container">
            <div class="menu-hamburguesa">
                <input type="checkbox" id="menu">
                <label for="menu"><i class="fas fa-bars"></i></label>
                <nav class="menu-desplegable">
                    <ul>
                        <li><a href="/admin/productCreate">Agregar producto</a></li>
                        <li><a href="/admin/productsList">Todos los productos</a></li>
                        <li><a href="/">Volver</a></li>
                    </ul>
                </nav>
                
            </div>
            <div class="barra-busqueda">
                <form  action="/search"><input type="text" class="nav-search-input" 
                       name="busqueda" placeholder="Buscar productos">
                        <button type="submit"><i class="fas fa-search"></i></button></i></a>
                </form>
            
            <div class="admin-menu-derecho">
                <nav>
                    <ul>
                        <li><a href="/admin/productCreate">Agregar</a></li>
                        <li><a href="/admin/productsList">Administrar</a></li>
                        <li><a href="/">Volver</a></li>
                        
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    
</html>