<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body>

<%- include('./partials/header') %> 

<main>
    <h1>Edición de producto</h1>
    <form action="" method="POST">
        <div class="box-form">
            <div class="input-box-form">
                <label for="name" >Nombre:</label>
                <input type="text" id="name" name="name" placeholder="Nombre del producto" >
            </div>
            <div class="input-box-form">
                <label for="price" >Precio:</label>
                <input type="number" id="price" name="price" placeholder="Precio" >
            </div>
            <div class="input-box-form">
                <label for="category" >Categoría:</label>
                <select name="category" id="category" >
                    <option value="" hidden selected>Categoría</option>
                    <option value="">Tortas</option>
                    <option value="">Mufins</option>
                    <option value="">Cupcakes</option>
                    <option value="">Postres</option>
                </select>
            </div>
            <div class="input-box-form">
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" id="imagen">
            </div>
            <div class="description-box">
                <label for="description">Descripción:</label>
                <textarea name="description" id="description">descripción del producto</textarea>
            </div>
            
            <div>
                <button type="submit">Guardar</button>
            </div>
        </div>
    </form>
</main>
    
</body>
</html>