<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body>

<%- include('./partials/header') %> 

<main class="admin">
    <h1>Agregar producto</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="box-form">
            <div class="input-box-form">
                <label for="name" >Nombre:</label>
                <input type="text" id="name" name="name" placeholder="" >
            </div>
            <div class="input-box-form">
                <label for="price" >Precio:</label>
                <input type="number" id="price" name="price" placeholder="" >
            </div>
            <div class="input-box-form">
                <label for="category" >Categoría:</label>
                <select name="category" id="category" >
                    <option value="" hidden selected>Elegí</option>
                    <option value="">Tortas</option>
                    <option value="">Postres</option>
                    <option value="">Mufins Cupcakes</option>
                    
                </select>
            </div>
            <div class="input-box-form">
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" id="imagen">
            </div>
            <div class="description-box">
                <label for="description">Descripción:</label>
                <textarea name="description" id="description"></textarea>
            </div>
            
            <div>
                <button type="submit">Guardar</button>
            </div>
        </div>
    </form>
</main>
    
</body>
</html>